<section class="about" id="about">
  <div class="container">
    <div class="about_content">
      <h2 class="about_title">About the Game</h2>
      <ul class="about_list_text">
        <li>
          <p>
            Step back in time and uncover the mysteries of the ancient world
            with Ancient Jewel, a captivating match-3 puzzle game that takes you
            on a journey through history. In this game, you&rsquo;ll match
            ancient jewels to solve puzzles and unlock the secrets of forgotten
            civilizations.
          </p>
        </li>
        <li>
          <p>
            Each level presents unique challenges, from clearing specific jewels
            to navigating tricky obstacles, all set against a backdrop of
            beautifully rendered ancient temples and ruins.
          </p>
        </li>
        <li>
          <p>
            As you progress, you&rsquo;ll unlock powerful boosters and special
            abilities to help you conquer even the most difficult levels. With
            hundreds of levels to explore, daily rewards, and special events,
            Ancient Jewel offers endless entertainment for players of all ages.
          </p>
        </li>
        <li>
          <p>
            Whether you&rsquo;re a history buff or just love a good puzzle, this
            game is sure to captivate you from the very first level. Start your
            adventure today and see how many ancient secrets you can uncover!
          </p>
        </li>
      </ul>
      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery1.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery1@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery1@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery1.png"
        />
        <img
          src="./img/gallery/gallery1.png"
          alt="card"
          width="109"
          height="240"
          loading="lazy"
          class="about_card1"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery2.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery2@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery2@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery2.png"
        />
        <img
          src="./img/gallery/gallery2.png"
          alt="card"
          width="67"
          height="150"
          loading="lazy"
          class="about_card2"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery3.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery3@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery3@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery3.png"
        />
        <img
          src="./img/gallery/gallery3.png"
          alt="card"
          width="64"
          height="136"
          loading="lazy"
          class="about_card3"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery4.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery4@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery4@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery4.png"
        />
        <img
          src="./img/gallery/gallery4.png"
          alt="card"
          width="82"
          height="170"
          loading="lazy"
          class="about_card4"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery7.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery7@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery7@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery7.png"
        />
        <img
          src="./img/gallery/gallery7.png"
          alt="card"
          width="68"
          height="144"
          loading="lazy"
          class="about_card5"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery5.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery5@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery5@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery5.png"
        />
        <img
          src="./img/gallery/gallery5.png"
          alt="card"
          width="268"
          height="566"
          loading="lazy"
          class="about_card5_desktop"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery6.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery6@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery6@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery6.png"
        />
        <img
          src="./img/gallery/gallery6.png"
          alt="card"
          width="250"
          height="532"
          loading="lazy"
          class="about_card6_desktop"
        />
      </picture>

      <picture>
        <source
          media="(max-width: 1279px)"
          srcset="./img/gallery/gallery7.png"
        />
        <source
          media="(max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1279px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery7@2x.png"
        />
        <source
          media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)"
          srcset="./img/gallery/gallery7@2x.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/gallery/gallery7.png"
        />
        <img
          src="./img/gallery/gallery7.png"
          alt="card"
          width="232"
          height="492"
          loading="lazy"
          class="about_card7_desktop"
        />
      </picture>
    </div>
  </div>
</section>
