<section class="advantages" id="advantages">
  <div class="container blur">
    <h2>Advantages</h2>

    <div class="list-div-adv-section">
      <ul class="advantages-list" id="list">
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#rich"></use>
              </svg>
            </div>
            <h6>Rich Graphics:</h6>
          </div>
          <p>
            Enjoy beautifully rendered ancient temples and ruins as you play
          </p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#game"></use>
              </svg>
            </div>
            <h6>Engaging Gameplay:</h6>
          </div>
          <p>
            Easy to learn but challenging to master, offering endless
            entertainment
          </p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#combos"></use>
              </svg>
            </div>
            <h6>Special Combos:</h6>
          </div>
          <p>
            Create powerful combos and blasts to clear levels more efficiently
          </p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#daily_task"></use>
              </svg>
            </div>
            <h6>Daily Rewards:</h6>
          </div>
          <p>Log in daily to receive free rewards and bonuses</p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#daily_task"></use>
              </svg>
            </div>
            <h6>Regular Updates:</h6>
          </div>
          <p>Enjoy new levels and events with frequent updates</p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#social"></use>
              </svg>
            </div>
            <h6>Social Integration:</h6>
          </div>
          <p>Compete with friends and share achievements on social media</p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#free_game"></use>
              </svg>
            </div>
            <h6>Free to Play:</h6>
          </div>
          <p>
            Download and play for free, with optional in-app purchases available
          </p>
        </li>
        <li class="advantages-item">
          <div class="card-title">
            <div class="adv-div-icon">
              <svg class="card-icon">
                <use href="./img/icons_sprite.svg#design"></use>
              </svg>
            </div>
            <h6>Immersive Theme:</h6>
          </div>
          <p>
            Dive into the ancient world and uncover the secrets of forgotten
            civilizations
          </p>
        </li>
      </ul>

      <div class="buttons-div">
        <button type="button" id="left-btn">
          <svg class="arrow-svg">
            <use href="./img/icons_sprite.svg#arrow_left"></use>
          </svg>
        </button>

        <span class="page-number" id="page">01</span>

        <button type="button" id="right-btn">
          <svg class="arrow-svg">
            <use href="./img/icons_sprite.svg#arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
