<section class="disclaimer">
  <div class="container">
    <h2 class="disclaimer_title">Disclaimer:</h2>
    <picture>
      <source
        media="(max-width: 1439px)"
        srcset="./img/disklaimer/disklaimer_mob.png"
      />
      <source
        media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
        srcset="./img/disklaimer/disklaimer_mob@2x.png"
      />
      <source
        media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
        srcset="./img/disklaimer/disklaimer@2x.png"
      />
      <source
        media="(min-width: 1440px)"
        srcset="./img/disklaimer/disklaimer.png"
      />
      <img
        src="./img/disklaimer/disklaimer.png"
        alt="card"
        width="195"
        loading="lazy"
        height="408"
        class="disclaimer_image"
      />
    </picture>
    <div class="disclaimer_detail">
      <p>
        GAMEHUBFUSION.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
        WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN
        REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF
        AGE. ENJOY PLAYING THIS GAME.
      </p>
    </div>
  </div>
</section>
