<footer class="footer">
  <div class="container">
    <div class="footer-div">
      <div class="footer-div-for-nav">
        <div class="footer-icon"></div>
      
      <nav class="footer-nav">
        <a href="../privacy_policy.html">Privacy policy</a>
        <a href="../term_of_use.html">Terms and conditions</a>
        <a href="#hero" class="arrow-top">
          <svg width="19" height="19">
            <use href="./src/img/icons_sprite.svg#arrow-top"></use>
          </svg>
        </a>
      </nav>
      </div>

      <p>All rights reserved gamehubfusion.com | 2024</p>

    </div>
  </div>
</footer>
