<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery_desktop">
      <h2 class="gallery_title">Gallery</h2>
      <p class="gallery_p">
        Immerse yourself in the atmosphere of the game and explore stunning
        visual scenes that will prepare you for the adventures ahead.
      </p>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery1.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery1@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery1@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery1.png"
            />
            <img
              src="./img/gallery/gallery1.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery2.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery2@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery2@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery2.png"
            />
            <img
              src="./img/gallery/gallery2.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card2"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery3.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery3@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery3@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery3.png"
            />
            <img
              src="./img/gallery/gallery3.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card3"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery4.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery4@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery4@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery4.png"
            />
            <img
              src="./img/gallery/gallery4.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card4"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery5.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery5@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery5@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery5.png"
            />
            <img
              src="./img/gallery/gallery4.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card5"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery6.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery6@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery6@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery6.png"
            />
            <img
              src="./img/gallery/gallery6.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card6"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery7.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery7@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery7@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery7.png"
            />
            <img
              src="./img/gallery/gallery7.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card7"
            />
          </picture>
        </div>
      </div>
      <!-- Add Pagination -->
      <svg class="my-swiper-button-next" height="20" width="20">
        <use href="./img/icons_sprite.svg#arrow_right"></use>
      </svg>
      <svg class="my-swiper-button-prev" height="20" width="20">
        <use href="./img/icons_sprite.svg#arrow_left"></use>
      </svg>
      <span id="current-slide-number">01</span>
      <!-- Тут буде номер слайда -->
    </div>
  </div>
</section>

<!--  <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./img/gallery/gallery1.png"
            />
            <source
              media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery1@2x.png"
            />
            <source
              media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
              srcset="./img/gallery/gallery1@2x.png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./img/gallery/gallery1.png"
            />
            <img
              src="./img/gallery/gallery1.png"
              alt="card"
              width="156"
              height="328"
              loading="lazy"
              class="gallery_card gallery_card1"
            />
          </picture> -->
