<header class="header">
  <div class="container">

    <div class="header-div">

      <div class="profile-icon"></div>

        <button type="button" class="header-button" id="burger-button">
          <svg class="burger-icon">
            <use href="./img/icons_sprite.svg#burger"></use>
          </svg>
        </button>
        
        <nav>
          <ul class="nav-list">
            <li><a href="#about">About the game</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#howtoplay">How To Play</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#advantages">Advantages</a></li>
          </ul>
        </nav>

      </div>
  <div class="hidden burger-modal" id="burger-modal">

    <button class="header-button" id="close-button">

      <svg class="close-icon">
        <use href="./img/icons_sprite.svg#close_burger"></use>
      </svg>

    </button>

    <nav>
      <ul class="nav-list-in-modal">
        <li><a href="#about">About the game</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#howtoplay">How To Play</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#advantages">Advantages</a></li>
      </ul>
    </nav>

  </div>
    </div>

  </div>



</header>

