<section class="howtoplay" id="howtoplay">
  <div class="container">
    <picture>
      <source media="(max-width: 1439px)" srcset="./img/gallery/gallery1.png" />
      <source
        media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery1@2x.png"
      />
      <source
        media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery1@2x.png"
      />
      <source media="(min-width: 1440px)" srcset="./img/gallery/gallery1.png" />
      <img
        src="./img/gallery/gallery1.png"
        alt="card"
        width="90"
        height="190"
        loading="lazy"
        class="hov_card1"
      />
    </picture>
    <picture>
      <source media="(max-width: 1439px)" srcset="./img/gallery/gallery1.png" />
      <source
        media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery1@2x.png"
      />
      <source
        media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery1@2x.png"
      />
      <source media="(min-width: 1440px)" srcset="./img/gallery/gallery1.png" />
      <img
        src="./img/gallery/gallery1.png"
        alt="card"
        width="51"
        loading="lazy"
        height="108"
        class="hov_card2"
      />
    </picture>

    <picture>
      <source media="(max-width: 1439px)" srcset="./img/gallery/gallery4.png" />
      <source
        media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery4@2x.png"
      />
      <source
        media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery4@2x.png"
      />
      <source media="(min-width: 1440px)" srcset="./img/gallery/gallery4.png" />
      <img
        src="./img/gallery/gallery4.png"
        alt="card"
        width="44"
        height="94"
        loading="lazy"
        class="hov_card3"
      />
    </picture>

    <picture>
      <source media="(max-width: 1439px)" srcset="./img/gallery/gallery7.png" />
      <source
        media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery7@2x.png"
      />
      <source
        media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery7@2x.png"
      />
      <source media="(min-width: 1440px)" srcset="./img/gallery/gallery7.png" />
      <img
        src="./img/gallery/gallery7.png"
        alt="card"
        width="87"
        height="192"
         loading="lazy"
        class="hov_card4"
      />
    </picture>

        <picture></picture>
      <source media="(max-width: 1439px)" srcset="./img/gallery/gallery3.png" />
      <source
        media="(max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1439px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery3@2x.png"
      />
      <source
        media="(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi)"
        srcset="./img/gallery/gallery3@2x.png"
      />
      <source media="(min-width: 1440px)" srcset="./img/gallery/gallery3.png" />
      <img
        src="./img/gallery/gallery3.png"
        alt="card"
        width="59"
        height="125"
         loading="lazy"
        class="hov_card5"
      />
    </picture>

    <div class="how_blur">
      <h2 class="how_title">How to play</h2>
      <ul class="how_list">
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Swap adjacent jewels to create rows or columns of three or more
            matching ones
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
                        <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Match four or more jewels to create special jewels with unique
            effects
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-long"></span>
                        <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Remove obstacles like stone blocks, vines, and more by matching
            nearby jewels
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
                        <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Complete levels by collecting specific jewels or achieving score
            targets
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-long"></span>
                        <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Utilize special boosters to help clear challenging levels
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
                        <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Progress through the map by completing levels and unlocking new
            challenges
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <div class="how_list_decor">
            <span class="point-dec-short"></span>
            <span class="point-dec-long"></span>
            <span class="point-dec-long"></span>
                        <span class="point-dec-long only_desktop"></span>
            <span class="point-dec-short"></span>
          </div>
          <p class="how_list_item_text">
            Join special events and challenges for additional rewards
          </p>
        </li>
        <li class="how_list_item">
          <svg width="20" height="20" class="how_point">
            <use href="./img/icons_sprite.svg#point"></use>
          </svg>
          <p class="how_list_item_text">
            Compare scores and compete with friends by connecting the game to
            social media
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
