<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews-div">
      <h2 class="reviews-title">Reviews</h2>

      <ul class="reviews-list" id="reviews-list">
        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/emma.png"
            srcset="./img/reviews/emma.png 1x, ./img/reviews/emma@2x.png 2x"
            alt="Emma W."
            width="28"
            loading="lazy"
            height="28"
          />
          <div>
            <p>Emma W. :</p>
            <p>
              Ancient Jewel is a great game for relaxing after a long day. The
              soundtrack is soothing.
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/lucas.png"
            srcset="./img/reviews/lucas.png 1x, ./img/reviews/lucas@2x.png 2x"
            alt="Lucas T."
            width="28"
            loading="lazy"
            height="28"
          />
          <div>
            <p>Lucas T. :</p>
            <p>
              The variety of levels keeps the game interesting. I’m always
              looking forward to the next one.
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/ava.png"
            srcset="./img/reviews/ava.png 1x, ./img/reviews/ava@2x.png 2x"
            alt="Ava R."
            width="28"
            height="28"
            loading="lazy"
          />

          <div>
            <p>Ava R. :</p>
            <p>
              The daily rewards are great. They help me progress through the
              game.
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/henry.png"
            srcset="./img/reviews/henry.png 1x, ./img/reviews/henry@2x.png 2x"
            alt="Henry F."
            width="28"
            loading="lazy"
            height="28"
          />

          <div>
            <p>Henry F. :</p>
            <p>
              I love competing with my friends for the highest score. The social
              features are great!
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/isabella.png"
            srcset="
              ./img/reviews/isabella.png    1x,
              ./img/reviews/isabella@2x.png 2x
            "
            alt="Isabella C."
            width="28"
            loading="lazy"
            height="28"
          />

          <div>
            <p>Isabella C. :</p>
            <p>
              The special events are exciting. I always look forward to them!
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/ethan.png"
            srcset="./img/reviews/ethan.png 1x, ./img/reviews/ethan@2x.png 2x"
            alt="Ethan G."
            width="28"
            height="28"
            loading="lazy"
          />

          <div>
            <p>Ethan G. :</p>
            <p>
              Ancient Jewel is the best match-3 game I’ve played. The ancient
              theme is really fun!
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/mia.png"
            srcset="./img/reviews/mia.png 1x, ./img/reviews/mia@2x.png 2x"
            alt="Mia S."
            width="28"
            height="28"
            loading="lazy"
          />

          <div>
            <p>Mia S. :</p>
            <p>
              The levels are challenging but not impossible. Perfect for any
              skill level!
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>

        <li class="review">
          <img
            class="reviews-img"
            src="./img/reviews/alexander.png"
            srcset="
              ./img/reviews/alexander.png    1x,
              ./img/reviews/alexander@2x.png 2x
            "
            alt="Alexander J."
            width="28"
            height="28"
            loading="lazy"
          />

          <div>
            <p>Alexander J. :</p>
            <p>
              I can't get enough of Ancient Jewel. Every level is a new
              adventure!
            </p>
          </div>
          <ul class="stars-list">
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
            <li class="star">
              <svg class="star-icon">
                <use href="./img/icons_sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
