body {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  overflow-x: hidden;
}

@media screen and (min-width: 1440px) {
  body {
    cursor: url('../img/cursor.svg'), auto;
  }
  a:hover,
  svg:hover {
    cursor: url('../img/hand-cursor.svg'), auto;
  }
}
