.disclaimer {
  position: relative;
  background-image: url('../img/disklaimer/bgdisklaimer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 22px;
  padding-bottom: 43px;
  min-height: 513px;
}
.disclaimer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) -104.44%,
    rgba(28, 28, 28, 0.4) -4.44%
  );
  backdrop-filter: blur(24px);
  z-index: 1;
}

.disclaimer .container {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 2;
}

.disclaimer_image {
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translate(-50%, 0);
}
.disclaimer_title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.disclaimer_detail {
  position: absolute;
  width: 288px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 2, 0.4) 0%,
    rgba(62, 62, 62, 0.4) 100%
  );
  box-shadow: -4px -4px 6px 0px rgba(200, 200, 200, 0.25),
    1px 1px 1px 0px rgba(0, 0, 0, 0.25), 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(26px);
}

@media screen and (min-width: 1280px) {
  .disclaimer_title {
    text-align: left;
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 48px;
  }
  .disclaimer .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .disclaimer {
    padding-top: 134px;
    padding-bottom: 134px;
    min-height: 968px;
  }
  .disclaimer_image {
    width: 280px;
    height: 590px;
    top: 60px;
    left: 19%;
  }
  .disclaimer_detail {
    font-size: 24px;
    font-weight: 400;
    top: 412%;
    padding: 0;
    left: 64%;
    line-height: normal;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    max-width: 675px;
    width: 100%;
    text-align: left;
  }
}
