.footer-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/header/icon_header.png);
}

.footer {
  color: white;
  font-size: 11px;
  backdrop-filter: blur(48px);
  background: linear-gradient(180deg, #000 0%, #1c1c1c 100%);
  padding: 16px 16px 22px 16px;
}
.svg_footer {
}
.footer p {
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.footer a:hover {
  color: #f59426;
  fill: #f59426;
  cursor: pointer;
}

.footer-div {
  display: flex;
  flex-direction: column;
}

.footer-div-for-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 23px;
  margin-bottom: 20px;
  margin-top: 16px;
}

@media screen and (min-width: 1440px) {
  .arrow-top {
    display: none;
  }

  .footer-icon {
    width: 63px;
    height: 63px;
  }

  .footer p,
  .footer-nav {
    font-size: 18px;
  }

  .footer {
    height: 317px;
    padding-top: 64px;
  }

  .footer-div-for-nav {
    margin-bottom: 126px;
  }
}
