.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 71px;
  z-index: 5;
}
.header .container {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      /* Dark overlay */ rgba(0, 0, 0, 0.5)
    ),
    url('/img/hero/bghero.png');
  backdrop-filter: blur(5px);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  position: relative;
}
.header-div {
  padding: 32px 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.nav-list {
  display: flex;
  gap: 40px;
  color: white;
  height: 28px;
  align-items: center;
}

.nav-list-in-modal {
  border-radius: 16px;
  background: linear-gradient(0deg, #020202 0%, #3e3e3e 100%);
  box-shadow: -4px -4px 4px 0px #949494 inset, 1px 1px 1px 0px #000000 inset,
    4px 4px 6px 0px #000000 inset;
  backdrop-filter: blur(27px);
  box-shadow: -4px -4px 4px 0px rgba(148, 148, 148, 0.25) inset,
    1px 1px 1px 0px rgba(0, 0, 0, 0.25) inset,
    4px 4px 6px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(26px);
  display: flex;
  flex-direction: column;
  color: white;
  height: 28px;
  align-items: end;
  padding: 18px 18px;
  width: 152px;
  justify-content: space-between;
  height: 234px;
  border-radius: 16px;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #f59426;
}

.nav-list-in-modal a {
  font-size: 14px;
}

.burger-icon {
  width: 24px;
  height: 24px;
}

.header-button:hover,
.header-button:focus {
  fill: #f59426;
}

.header-button {
  margin-left: auto;
  padding: 0;
  height: 24px;
}

.profile-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/header/icon_header.png);
}

.close-icon {
  width: 24px;
  height: 24px;
}

.burger-modal {
  position: absolute;
  top: 32px;
  right: 16px;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
  }

  .nav-list {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-div {
    padding-top: 52px;
    padding-bottom: 39px;
  }

  .nav-list li > a {
    font-size: 24px;
    line-height: 1;
  }

  .profile-icon {
    width: 63px;
    height: 63px;
  }
}

.hidden {
  display: none;
}
